<div class='mt-4'>
    <div class='row mt-4'>
        <div class='col-lg-6'>
            <img
                src='{{product.image}}'
                class='col-lg-6'
                alt='image sản phẩm'
            />
            <div class='row'>
                <img
                    src='{{product.image}}'
                    class='col-lg-2'
                    alt='image sản phẩm'
                />
                <img
                    src='{{product.image}}'
                    class='col-lg-2'
                    alt='image sản phẩm'
                />
                <img
                    src='{{product.image}}'
                    class='col-lg-2'
                    alt='image sản phẩm'
                />
            </div>
        </div>
        <div class='col-lg-6'>
            <h2>{{product.proName}}</h2>
            <h4>{{product.brand}}</h4>
            <p>{{product.desc}}</p>
            <button class='p-3 mb-2 bg-success text-white'>Add to Cart</button>
        </div>
    </div>
</div>